* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-image: url("prr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}


.container {
  padding: 20px;
}

.card {
  background: #fff;
  max-width: 360px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.card h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
  color: #444;
  margin-bottom: 12px;
}

.highlight {
  font-weight: 600;
  color: #e75480;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-top: 15px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #e75480;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #d8436f;
}

.thanks {
  display: none;
  margin-top: 20px;
  font-size: 16px;
  color: #e75480;
  font-weight: 600;
}
